$WHITE: #FFF;
$LIGHT_GREY: #8E8E8E;
$GREY: #616161;
$DARK_GREY: #373737;
$BLACK: #333;
$SHADOW_COLOR: rgba(0, 0, 0, 0.07);

$DEFAULT_TEXT: $BLACK;
$WHITE_TEXT: $WHITE;

$DEFAULT_BG: $WHITE;
$AGILE_BG: $GREY;
$DARK_BG: $DARK_GREY;
$DISABLED_BG: $LIGHT_GREY;
$PAGE_BG: $LIGHT_GREY;

$BASIC_SHADOW: 0 1px 2px 0 $SHADOW_COLOR;
