$BLACK: #333;
$DARK_GREY: #373737;
$GREY: #616161;
$LIGHT_GREY: #8E8E8E;
$WHITE: #FFF;

$DEFAULT_TEXT: $BLACK;
$WHITE_TEXT: $WHITE;

$DEFAULT_BG: $WHITE;
$AGILE_BG: $GREY;
$DARK_BG: $DARK_GREY;
$DISABLED_BG: $LIGHT_GREY;
