.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  .header {
    font-size: 20px;
  }

  .image {
    max-height: 200px;
    max-width: 200px;
    margin: 20px;
  }

  .subheader {
    font-size: 16px;
  }
}
