@import 'resources/variables.scss';

.imagesPreview {
  max-height: 100px;

  .image {
    max-height: 100px;
    max-width: 100px;
    margin-right: 10px;
    border-radius: $BORDER_RADIUS;
    box-shadow: $BASIC_SHADOW;
    cursor: pointer;
  }

  &NotEmpty{
    margin-top: 10px;
  }
}
