.navigation {
  width: 100%;

  .cross {
    display: flex;
    justify-content: flex-end;

    .img {
      cursor: pointer;
    }
  }

  .catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & > a {
      margin: 5px;
    }

    &.hidden {
      display: none;
    }
  }
}
