@import 'resources/variables.scss';

.post {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .text {
    white-space: pre-wrap;
    word-break: break-word;

    & > p:not(:first-child) {
      margin-top: $FONT_SIZE;
    }

    &NotEmpty {
      margin-top: 10px;
    }
  }
}
